@font-face {
    font-family:anshi ;
    src: url(./Gotham-Book.ttf);
}

.header{
    width: 100vw;
    height: 40px;
    padding: 10px;
 background-color: #9a0f30;

}
*{
    margin: 0;
    font-family:anshi ;
}
body{
    margin: 0;
}
.main{
    width: 98.5vw;
    overflow: hidden;
}
.logo {
    width: 90px;
    height: 70px;
    
    margin-top: 3px;
    margin-left: 75px;
    box-shadow: black 5px;
    box-shadow: 0 0 10px 0 #500013;
    background: #9a0f30;
    display: flex;
    align-items: center;
    justify-content: center;

    

}
.header{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9999;
}


.img {
    width: 35px;
    height: 38px;
  

}
.hh{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    letter-spacing: 0.11em;
    width: 49%;
    font-size: 12px;
    font-weight: bold;
}
.hh :hover{
   border-bottom: 1px solid wheat ;
}

.hi{

    list-style: none;
    color: white;
}
.e{
    width: 26%;
    height: 110%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: end;

}
.down{
    width: 100%;
    height: 20vw;
}
.img{
    width: 100vw;
    height: 50%;
}
.p{
  
    position: relative;
    z-index: 99px;
    font-size: 17px;
    transform: translateY(-30rem);
    width: 716px;
    color: #fff;
    padding-left: 146px;
    margin-bottom: 20px;
    line-height: 20px;

}

.img2{

    padding: 5rem 0rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: -294px;
    
}


.crd{
    display: flex;
    flex-direction: column;
    width: 17rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.img3{
   
    padding: 5rem 0rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: -105px;
}
.img4{
    padding: 5rem 0rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: -105px;
}

.crd{
    display: flex;
    flex-direction: column;
    width: 17rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.img5{
    padding: 5rem 0rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: -105px;
}
.crd{
    display: flex;
    flex-direction: column;
    width: 17rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.img6{
    padding: 5rem 0rem;
    width: 77%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: -105px;

}
.crt{
    display: flex;
    flex-direction: column;
    width: 17rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.line1{
    width: auto;
    height: 52pxpx;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: #9a0f30;
 
}
.line{
    width: 88%;
    color: #9a0f30;
    background-color: #9a0f30;
    height: 1px;
    margin-left: 7%;
    margin-top: 10px;
}
.img7{
    padding: 5rem 0rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: -40px;
    
    }
    .crt{
        display: flex;
        flex-direction: column;
        width: 17rem;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

.img8{
    padding: 5rem 0rem;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: -110px;
    
    }
    .crt{
        display: flex;
        flex-direction: column;
        width: 17rem;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
  
    .a1{
        width: 117%;
        height: 135px;
        margin-top: -135px;
        margin-left: 885px;
    }
    .a{
        width: 50px;
        height: 35px;
        background-color: #9a0f30;
        margin-left: -4px;
        margin-top: 40px;
        color: white;
    }
    .aa{
        width: 18%;
        height: 35px;
        margin-left: 20px;
        color: white;
        background-color: #9a0f30;
    }
    .line2{
        height: 1px;
        width: 85%;
        color: #9a0f30;
        background-color: #9a0f30;
        margin-left: 98px;
    }
    .a11{
        width: 127%;
    height: 135px;
    margin-top: 11px;
    margin-left: 517px
    }
    .aaa{
        width: 357px;
        height: 53px;
        margin-left: -44px;
        margin-top: 45px;
        color: white;
        background: none;
        color: #666;
        border: 1px solid #9a0f30;
        border-radius: 0 0 0 5px;
        font-family: 'GothamBook';
        font-size: 12px;
    

    }
    .b{
        width: 3%;
        height: 52px;
        margin-left: -4px;
        color: white;
        background-color: #9a0f30;
    }
    .footer{
        width: 100%;
        display: flex;
        gap: 300px;
        margin-left: 194px;
        font-size: 10px;
        margin-top: -30px;
        height: 500px;
    }
    .footer1{
        width: 45px;
        height: 1px;
    }
    h3{
        width: 119px;
        letter-spacing: 0.12em;
        border-bottom: 2px solid #9a0f30;
        margin-top: 60px;    }
  .c1{
    width: 222px;
    margin-top: 20px;
    font-size: 13px;
    color: #181818;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 0.em;
  }

.footer2{
    width: 45px;
        height: 1px;
        margin-top: 10px;

}
.ff{
    width: 50px;
    height: 50px;
}
.footer4{
    width: 100%;
    margin-top: 103px;
    margin-left: 200px;

}
.a111{
    width: 100%;
    margin-top: -18px;
    margin-left: 57px;
}
.copyright{
    float: right;
    width: 59%;
    color: #181818;
    font-size: 11px;
    line-height: 11px;
    margin-top: 31px;
}
.finall{
    width: 100%;
    height: 50%;
}
.a22{
    width: 100px;
}
.i22{
    width: 23px;
    margin-left: 1209px;
    margin-top: 16px;
}
.f2{
    margin: 0;
    cursor: pointer;
    text-align: center;
    font-size: 10px;
    color: #B3B3B3;
    line-height: 10px;
    
    right: 0px;
    bottom: 5px;
    margin-left: 1105px;
    margin-top: -52px;
}
.ff2{
    width: 100%;
    height: 100%;
}
.p11:hover{
    cursor: pointer;
    color: #9a0f30;
}